{% extends "layout/base" %}

{% block title %}Ajout d'un message de transaction{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Ajout d'un message de transaction</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="transactionMessage_idAuthor">Auteur</label>
                        <select class="form-select" id="transactionMessage_idAuthor" name="transactionMessage[idAuthor]" ]>
                            {% foreach ($this.availableAuthors as $availableAuthor): %}
                            <option value=" {{ $availableAuthor.id }}">{{ $availableAuthor.firstname }} {{ $availableAuthor.lastname }} ({{ $availableAuthor.mailAddress }})</option>
                            {% endforeach %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionMessage_idTransaction">Transaction</label>
                        <select class="form-select" id="transactionMessage_idTransaction" name="transactionMessage[idTransaction]">
                            {% foreach ($this.availableTransactions as $availableTransaction): %}
                            <option value="{{ $availableTransaction.id }}">{{ $availableTransaction.sender.owner.firstname }} {{ $availableTransaction.sender.owner.lastname }} ({{ $availableTransaction.sender.owner.mailAddress }}) - {{ $availableTransaction.sender.description }} -> {{ $availableTransaction.recipient.owner.firstname }} {{ $availableTransaction.recipient.owner.lastname }} ({{ $availableTransaction.recipient.owner.mailAddress }}) - {{ $availableTransaction.recipient.description }}</option>
                            {% endforeach %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionMessage_content">Contenu</label>
                        <textarea class="form-control" id="transactionMessage_content" name="transactionMessage[content]" placeholder="Contenu">{{ $this.transactionMessage.content }}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="{{ $this.csrf.key }}" value="{{ $this.csrf.value }}">
                        <a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                        <button type="submit" class="btn btn-primary">Sauver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}