{% extends "layout/base" %}

{% block title %}Détails d'un compte bancaire{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Détails d'un compte bancaire</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="bankAccount_id">ID</label>
                        <input type="text" class="form-control" id="bankAccount_id" name="bankAccount[id]" readonly value="{{ $this.bankAccount.id }}">
                    </div>
                    <div class="form-group">
                        <label for="bankAccount_idOwner">Propriétaire</label>
                        <select class="form-select" id="bankAccount_idOwner" disabled name="bankAccount[idOwner]">
                            <option value="{{ $this.bankAccount.owner.id }}">{{ $this.bankAccount.owner.firstname }} {{ $this.bankAccount.owner.lastname }} ({{ $this.bankAccount.owner.mailAddress }})</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bankAccount_description">Description</label>
                        <input type="text" class="form-control" id="bankAccount_description" name="bankAccount[description]" readonly placeholder="Description" value="{{ $this.bankAccount.description }}">
                    </div>
                    <div class="form-group">
                        <a href="/user/details?id={{ $this.bankAccount.idOwner }}" class="btn btn-secondary">Propriétaire</a>
                        <a href="/financialtransaction/index?idSender={{ $this.bankAccount.id }}" class="btn btn-secondary">Liste des transactions financères (expéditeur)</a>
                        <a href="/financialtransaction/index?idRecipient={{ $this.bankAccount.id }}" class="btn btn-secondary">Liste des transactions financères (destinataire)</a>
                    </div>
                    <div class="form-group">
                        <a href="javascript:history.back()" class="btn btn-primary">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}