{% extends "layout/base" %}

{% block title %}Liste des comptes bancaires{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Liste des comptes bancaires</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Propriétaire</th>
                            <th scope="col">Solde</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% foreach ($this.bankAccounts as $bankAccount): %}
                        <tr>
                            <th scope="row">{{ $bankAccount.id }}</th>
                            <td>{{ $bankAccount.description }}</td>
                            <td>{{ $bankAccount.owner.firstname }} {{ $bankAccount.owner.lastname }} ({{
                                $bankAccount.owner.mailAddress }})</td>
                            <td>{{ $bankAccount.balance }}</td>
                            <td>
                                <a href="/bankAccount/details?id={{ $bankAccount.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Details</a>
                                <a href="/bankAccount/edit?id={{ $bankAccount.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
                                <a href="/bankAccount/remove?id={{ $bankAccount.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Remove</a>
                            </td>
                        </tr>
                        {% endforeach %}
                    </tbody>
                </table>
                <div class="form-group">
                    <a href="/bankAccount/add" class="btn btn-primary btn-lg active" role="button"
                        aria-pressed="true">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}