{% extends "layout/base" %}

{% block title %}Page d'index{% endblock %}

{% block content %}
<section id="tools" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>{{ $this.message.hello }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Outils</h2>
                <a href="/user" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Utilisateurs</a>
                <a href="/auth" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Authentification</a>
                <a href="/bankaccount" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comptes bancaires</a>
                <a href="/financialtransaction" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Transactions financières</a>
                <a href="/transactionmessage" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Messages de transaction</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}