{% extends "layout/base" %}

{% block title %}Détails d'un utilisateur{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Détails d'un utilisateur</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="user_id">ID</label>
                        <input type="text" class="form-control" id="user_id" name="user[id]" readonly value="{{ $this.user.id }}">
                    </div>
                    <div class="form-group">
                        <label for="user_firstname">Prénom</label>
                        <input type="text" class="form-control" id="user_firstname" name="user[firstname]" placeholder="Prénom" readonly value="{{ $this.user.firstname }}">
                    </div>
                    <div class="form-group">
                        <label for="user_lastname">Nom</label>
                        <input type="text" class="form-control" id="user_lastname" name="user[lastname]" placeholder="Nom" readonly value="{{ $this.user.lastname }}">
                    </div>
                    <div class="form-group">
                        <label for="user_mailAddress">Adresse email</label>
                        <input type="email" class="form-control" id="user_mailAddress" name="user[mailAddress]" placeholder="Adresse email" readonly value="{{ $this.user.mailAddress }}">
                    </div>
                    <div class="form-group">
                        <a href="/bankaccount/index?idOwner={{ $this.user.id }}" class="btn btn-secondary">Liste des comptes bancaires</a>
                    </div>
                    <div class="form-group">
                        <a href="javascript:history.back()" class="btn btn-primary">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}