{% extends "layout/base" %}

{% block title %}Liste des transactions financières{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Liste des transactions financières</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Expéditeur</th>
                            <th scope="col">Destinataire</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% foreach($this.financialTransactions as $financialTransaction): %}
                        <tr>
                            <th scope="row">{{ $financialTransaction.id }}</th>
                            <td>{{ $financialTransaction.amount }}</td>
                            <td>{{ $financialTransaction.sender.owner.firstname }} {{
                                $financialTransaction.sender.owner.lastname }} ({{
                                $financialTransaction.sender.owner.mailAddress }}) - {{
                                $financialTransaction.sender.description }}</td>
                            <td>{{ $financialTransaction.recipient.owner.firstname }} {{
                                $financialTransaction.recipient.owner.lastname }} ({{
                                $financialTransaction.recipient.owner.mailAddress }}) - {{
                                $financialTransaction.recipient.description }}</td>
                            <td>
                                <a href="/financialTransaction/details?id={{ $financialTransaction.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Details</a>
                                <a href="/financialTransaction/edit?id={{ $financialTransaction.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
                                <a href="/financialTransaction/remove?id={{ $financialTransaction.id }}"
                                    class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Remove</a>
                            </td>
                        </tr>
                        {% endforeach %}
                    </tbody>
                </table>
                <div class="form-group">
                    <a href="/financialTransaction/add" class="btn btn-primary btn-lg active" role="button"
                        aria-pressed="true">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}