{% extends "layout/base" %}

{% block title %}Supression d'une transaction financière{% endblock %}

{% block content %}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Supression d'une transaction financière</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="financialTransaction_id">ID</label>
                        <input type="text" class="form-control" id="financialTransaction_id" name="financialTransaction[id]" readonly value="{{ $this.financialTransaction.id }}">
                    </div>
                    <div class="form-group">
                        <label for="financialTransaction_idSender">Expéditeur</label>
                        <select class="form-select" id="financialTransaction_idSender" name="financialTransaction[idSender]" disabled>
                            <option value="{{ $this.financialTransaction.idSender }}">{{ $this.financialTransaction.sender.owner.firstname }} {{ $this.financialTransaction.sender.owner.lastname }} ({{ $this.financialTransaction.sender.owner.mailAddress }}) - {{ $this.financialTransaction.sender.description }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="financialTransaction_idRecipient">Destinataire</label>
                        <select class="form-select" id="financialTransaction_idRecipient" name="financialTransaction[idRecipient]" disabled>
                            <option value="{{ $this.financialTransaction.idRecipient }}">{{ $this.financialTransaction.recipient.owner.firstname }} {{ $this.financialTransaction.recipient.owner.lastname }} ({{ $this.financialTransaction.recipient.owner.mailAddress }}) - {{ $this.financialTransaction.recipient.description }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="financialTransaction_amount">Montant</label>
                        <input type="text" class="form-control" id="financialTransaction_amount" name="financialTransaction[amount]" readonly placeholder="Montant" value="{{ $this.financialTransaction.amount }}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="{{ $this.csrf.key }}" value="{{ $this.csrf.value }}">
                        <a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}